#container {
    font: arial, sans serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-content: ;
    height: 100%;
    margin: 0;
    padding: 0;

}

header {
    margin: .5em;
    padding: .5em;
}

main {
    align-self: center;
    flex-grow: ;
}

#google-logo {
    width: 20em;
    margin: 1em 1em 1em 3em;
    align-self: center;
}

#search {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-self: center;
}

footer {
    margin: .5em;
    padding: .5em;
    background-color: gray;
    border-top-width: 1px;
    border-top: black;
    border-style: solid;
}

#search-button {
    margin: 1em;
}

.single-button:hover {
    border-color: gray;
}

.single-button {
    margin: .5em;
    padding: .5em;
    border-color: transparent;
    font-size: 14px;
    color: gray;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    border-width: 1px;
}

#search-input {
    margin: .5em;
    padding: .5em;
    color: black;
    font: georgia;
    font-size: 16px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gainsboro;
    padding: .75em;
    width: 150%;
    align-self: center;
}

#search-input:hover {
    border-color: gray;
}

#top-nav {
    background-color: transparent;
    font-size: 1em;
  
}

.nav-li {
    margin: .5em 1em .5em 1em;
    padding: ;
}

.nav-button-left {
    float: left;
}

.nav-button-right {
    float: right;
}

.nav-li:hover {
    text-decoration: underline;
}

#apps-box {

}

#sign-in-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 1px;
}

#bottom-nav {
}


